{% extends 'Index.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <section>
            {% for item in items %}
            <article class="clearfix">
                <h3><a href="/news/{{item.Pk}}.html">{{item.title}}</a></h3>
                {% if item.image %}<img src="{{item.image}}" style="max-width: 33%; margin-right: 10px;"
                                        class="img-responsive pull-left">{% endif %}
                {{item.lead|raw}}
            </article>
            {% endfor %}
        </section>
    </div>

    <div class="col-md-3">

    </div>

    <div class="col-md-3 clearfix">

    </div>
</div>
{% endblock %}