{% extends 'Admin.html' %}

{% block head %}
    {{ parent() }}
    <link rel=stylesheet href="{{ asset('/Modules/Maps/Templates/assets/css/mapsadmin.css') }}">
{% endblock %}

{% block namepage %}Карты сайта{% endblock %}

{% block content %}
{% for map in maps %}
    <div class="map">
        <h2 class="pull-left">#{{map.Pk}} {{map.title}}</h2>
        <a class="btn btn-info btn-sm" role="button" href="/maps/admin/edit?id={{map.Pk}}">Редактировать</a>
        <a class="btn btn-info btn-sm" role="button" href="/maps/admin/delete?id={{map.Pk}}">Удалить</a>
        <div class="clearfix"></div>
        <p><img src="//static-maps.yandex.ru/1.x/?ll={{map.longitude}},{{map.latitude}}&size={{map.width}},{{map.height}}&z={{map.zoom}}&l={{map.layer}}&pt={{map.ptLongitude}},{{map.ptLatitude}},{{map.ptStyle}}"></p>
    </div>
{% endfor %}
{% endblock %}