{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/news/">Новости</a></li>
    <li>{% if item.isNew %}Добавление новости{% else %}Редактирование новости{% endif %}</li>
</ol>
{% endblock %}

{% block header %}
{% if item.isNew %}Добавление новости{% else %}Редактирование новости{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/news/save">

        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{item.Pk}}">
        {% endif %}

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Заголовок</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="Заголовок" value="{{item.title}}">
            </div>
        </div>

        <div class="form-group">
            <label for="topic" class="col-sm-2 control-label">Раздел</label>
            <div class="col-sm-10">
                {% if item.isNew %}
                {{ selectTreeByModel("App\\Modules\\News\\Models\\Topic", 0, {"null":true}, {"name":"topic", "class": "form-control"}) }}
                {% else %}
                {{ selectTreeByModel("App\\Modules\\News\\Models\\Topic", item.topic.Pk, {"null":true, 'disabled':[item.topic.Pk]}, {"name":"topic", "class": "form-control"}) }}
                {% endif %}
                <i></i>
            </div>
        </div>

        <div class="form-group">
            <label for="lead" class="col-sm-2 control-label">Lead (введение)</label>
            <div class="col-sm-10">
                <t4:editor name="lead">{{item.lead}}</t4:editor>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Главное фото</label>
            <div class="col-sm-10">
                <p class="form-control-static">
                    {% if item.image %}
                    <p class="image">
                        <img src="{{item.image}}" class="img-responsive" style="max-width: 200px; max-height: 200px;">
                        <a href="#" class="item-image-delete" data-id="{{item.Pk}}"><i class="glyphicon glyphicon-remove text-danger"></i>&nbsp;</a>
                    </p>
                    {% endif %}
                </p>
                {{element('file', 'image', {'text':'Выберите файл'})}}
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Текст новости</label>
            <div class="col-sm-10">
                <t4:editor name="text">{{item.text}}</t4:editor>
            </div>
        </div>

        <footer class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            {% if not item.isNew %}<a href="/admin/news/delete/?id={{item.Pk}}" class="confirmable"><button type="button" class="btn btn-danger">Удалить</button></a>{% endif %}
        </footer>

    </form>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {

        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

        $('.item-image-delete').click( function () {
            var $this = $(this);
            var id = $this.attr('data-id');
            if (0 != id) {
                $.post('/admin/news/deleteImage.json', {"id":id}, function (r) {
                    if (r.result) {
                        $this.parent().remove();
                    }
                });
            }
            return false;
        });

    });
</script>
{% endblock %}