{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/news/">Новости</a></li>
    <li>Рубрики</li>
</ol>
{% endblock %}

{% block toolbar %}
<a class="btn btn-primary" href="/admin/news/editTopic?id=new"><i class="glyphicon glyphicon-plus-sign"></i> Добавить рубрику</a>
{% endblock %}


{% block header %}
Рубрики новостей
{% endblock %}

{% block content %}

<div class="row">
    {% set level = items[0].__lvl %}
    {% set count = 0 %}
    {% if items.count %}
    <ol class="nav nav-pills nav-stacked list-sortable">

        {% for key, item in items %}

        {% set current = item.__lvl %}
        {% if current == level %}
        {% if count > 0 %}</li>{% endif %}
        {% endif %}

        {% if current > level %}
        <ol class="nav nav-pills nav-stacked list-sortable" style="margin-left: 20px;">
        {% set level = current %}
        {% endif %}

        {% if current < level %}
        {{"</li></ol>"|repeat(level-current)|raw}}</li>
        {% set level = current %}
        {% endif %}

        <li data-id="{{item.Pk}}">
            <a href="/admin/news/editTopic/?id={{item.Pk}}">
                <button type="button" class="btn btn-default btn-sm list-sortable-handle" data-id="{{item.Pk}}"><i class="glyphicon glyphicon-resize-vertical"></i></button>&nbsp;&nbsp;
                {{item.title}}
            </a>

            <!--
            <a href="/admin/news/editTopic/?id={{item.Pk}}">
                <button type="button" class="btn btn-default btn-sm list-sortable-handle" data-id="{{item.Pk}}"><i class="glyphicon glyphicon-resize-vertical"></i></button>&nbsp;&nbsp;
                {{item.title}}
                <p class="pull-right">
                    <a class="btn btn-default" href="/admin/news/editTopic/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
                </p>
            </a>
            -->
        {% set count = count + 1 %}

        {% endfor %}
        {{"</li></ol>"|repeat(current)|raw}}</li>
    </ol>
    {% endif %}
</div>


<div class="row">
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Заголовок</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{'<i class="glyphicon glyphicon-option-horizontal"></i>'|repeat(item.__lvl)|raw}} <a href="/admin/news/editTopic/?id={{item.Pk}}">{{item.Pk}}</a></td>
            <td>{{'<i class="glyphicon glyphicon-option-horizontal"></i>'|repeat(item.__lvl)|raw}} <a href="/admin/news/editTopic/?id={{item.Pk}}">{{item.title}}</a></td>
            <td style="white-space: nowrap">
                {% if item.hasPrevSibling %}
                <a href="/admin/news/topicUp/?id={{item.Pk}}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                {% else %}
                <i class="glyphicon glyphicon-option-horizontal"></i>
                {% endif %}
                {% if item.hasNextSibling %}
                <a href="/admin/news/topicDown/?id={{item.Pk}}"><i class="glyphicon glyphicon-arrow-down"></i></a>
                {% else %}
                <i class="glyphicon glyphicon-option-horizontal"></i>
                {% endif %}
                &nbsp;&nbsp;
                <a href="/admin/news/editTopic/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
                <a href="/admin/news/deleteTopic/?id={{item.Pk}}" class="confirmable"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function() {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

        $('.list-sortable').sortable({
            handle: ".list-sortable-handle",
            axis: "y",
            update: function( event, ui ) {
                alert('!!!');
                /*
                 var prevSibling = ui.item.prev();
                 var nextSibling = ui.item.next()
                 if (!$.isEmptyObject(prevSibling) && undefined != prevSibling.attr('data-id')) {
                 var url = '/admin/pages/moveAfter.json';
                 var siblingId = prevSibling.attr('data-id');
                 } else {
                 var url = '/admin/pages/moveBefore.json';
                 var siblingId = nextSibling.attr('data-id');
                 }
                 $.post(url, {id: ui.item.attr('data-id') ,to: siblingId}, function (r) {
                 if (!r.result) {
                 alert('ERROR!!!');
                 }
                 });
                 */
            }
        });
    });
</script>
{% endblock %}