{% extends 'Admin.html' %}

{% block content %}
<table class="table table-striped table-hover">
    <tr>
        <th>#</th>
        <th>URL</th>
        <th>Заголовок</th>
        <th></th>
        <th></th>
    </tr>
    {% for page in pages %}
    <tr>
        <td>{{page.Pk}}</td>
        <td>{{page.url}}</td>
        <td>{{page.title}}</td>
        <td><a href="/pages/admin/edit?id={{page.Pk}}">Редактировать</a></td>
        <td><a href="/pages/admin/delete?id={{page.Pk}}">Удалить статью</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}