{% extends 'Admin.html' %}

{% block content %}
<table class="table table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Отправитель</th>
        <th>Время отправки</th>
        <th>Сообщение</th>
        <th></th>
    </tr>
    {% for contacts in contact %}
    <tr>
        <td>{{contacts.Pk}}</td>
        <td>{{contacts.email}}</td>
        <td>{{contacts.published}}</td>
        <td>{{contacts.message}}</td>
        <td><a href="/contact/admin/answer?id={{contacts.Pk}}">Ответить</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}