<div class="container">
    <div class="row">
        <div class="col-md-6" id="logo">
            <div class="col-md-3">
                <a href="/"><img src="{{asset('/Layouts/Main/assets/img/kostroma.png')}}" alt="Молодёжная политика Костромской области" class="img-responsive"></a>
            </div>
            <div class="col-md-9" id="slogan">
                <h1><a href="/"><span>Молодёжь</span><br><span>Костромской области</span></a></h1>
            </div>
        </div>
        <div class="col-md-6 text-right top-right-block">
            {% include 'Main/_social.html' %}
            <div class="top-login-form"><t4:block path="///Login" template="inline" /></div>
        </div>
    </div>
</div>