<form class="form-horizontal" role="form" action="/user/register.html" method="post">
    <div class="form-group">
        <label for="register[email]" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="register[email]" name="register[email]" placeholder="Ваш адрес e-mail" value="{{email}}">
        </div>
    </div>
    <div class="form-group">
        <label for="register[password]" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="register[password]" name="register[password]" placeholder="Ваш пароль">
        </div>
    </div>
    <div class="form-group">
        <label for="register[password2]" class="col-sm-2 control-label">Повтор пароля</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="register[password2]" name="register[password2]" placeholder="Введите пароль еще раз">
        </div>
    </div>

    {% if  app.config.extensions.captcha.register  %}
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <img src="/captcha?config=register">
        </div>
    </div>
    <div class="form-group">
        <label for="register[captcha]" class="col-sm-2 control-label">Вы не робот ?</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="register[captcha]" name="register[captcha]" placeholder="Введите символы с картинки">
        </div>
    </div>
    {% endif %}

    <footer class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </footer>

</form>