{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/gallery/">Галерея</a></li>
    <li>{% if item.isNew %}Добавление фотографии{% else %}Редактирование фотографии<{% endif %}</li>
</ol>
{% endblock %}

{% block header %}
{% if item.isNew %}Добавление фотографии{% else %}Редактирование фотографии{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/gallery/admin/save/">
        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{item.Pk}}">
        {% endif %}
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Добавить название</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="Название" value="{{item.title}}">
            </div>
        </div>

        <div class="form-group">
            <label for="__album_id" class="col-sm-2 control-label">Альбом</label>

            <div class="col-sm-10">
                <select name="__album_id" id="__album_id" class="form-control">
                    {% for album in albums %}
                    <option value="{{album.Pk}} ">{{ album.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Добавить фотографию</label>

            <div class="col-sm-10">
                <p class="form-control-static">
                    {% if item.image %}

                <p class="image">
                    <img src="{{item.image}}" class="img-responsive" style="max-width: 200px; max-height: 200px;">
                    <a href="#" class="item-image-delete" data-id="{{item.Pk}}"><i class="glyphicon glyphicon-remove text-danger"></i>&nbsp;</a>
                </p>
                {% endif %}
                <input type="checkbox" name="is_main" value="1">Сделать обложкой альбома
                </p>
                {{element('file', 'image', {'text':'Выберите файл'})}}

            </div>
        </div>

        <div class="row">
            <footer class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}
                </button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
                {% if not item.isNew %}<a href="/admin/gallery/deleteAlbum/?id={{item.Pk}}" class="confirmable">
                <button type="button" class="btn btn-danger">Удалить</button>
            </a>{% endif %}
            </footer>
        </div>
    </form>
</div>
{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {

        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

        $('.item-image-delete').click( function () {
            var $this = $(this);
            var id = $this.attr('data-id');
            if (0 != id) {
                $.post('/admin/news/deleteImage.json', {"id":id}, function (r) {
                    if (r.result) {
                        $this.parent().remove();
                    }
                });
            }
            return false;
        });

    });
</script>

{% endblock %}