

{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/gallery/">Галерея</a></li>
    <li>{{ album.title }}</li>
</ol>
{% endblock %}


{% block toolbar %}
<a class="btn btn-primary" id="file" href="/admin/gallery/edit"><i class="glyphicon glyphicon-plus-sign"></i> Добавить фотографии</a>
{% endblock %}

{% block header %}
{{ album.title }}
{% endblock %}

{% block content %}
<table class="table table-striped table-hover">
    <tr>
        <th class="col-sm-1">#</th>
        <th class="col-sm-2">Фотография</th>
        <th class="col-sm-2">Название</th>
        <th class="col-sm-2">Создана</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.Pk}}</td>
        <td>
            <a data-toggle="modal" href="#myModal">
            <img class="img-responsive" src="{{ item.image }}" width="80" alt="{{ item.title }}"/>
                </a>
        </td>
        <td>{{ item.title }}</td>
        <td>{{item.published|date('d.m.Y H:i')}}</td>
        <td style="white-space: nowrap">
            <a class="btn btn-primary btn-sm" href="/admin/gallery/edit/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
            <a class="btn btn-danger btn-sm" href="/admin/gallery/delete/?id={{item.Pk}}"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="row">{{widget('pager', {'total': itemsCount, 'size': pageSize, 'active': activePage, 'url': '/admin/gallery/?page=%d'})}}</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% for item in items %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="news-preview-title">{{ item.title }}</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-image">
                        <img class="img-responsive" src="{{item.image}}" />
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block pagescript %}
<script type="text/javascript">

    $(function() {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

    });

</script>
{% endblock %}