<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}T4 Site{% endblock %}</title>

    {{ publishCss() }}
    {{ publishJs() }}
    <link rel="stylesheet" href="//bootswatch.com/cosmo/bootstrap.min.css">

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" >
            <div class="row">
                <img src="{{asset('/Layouts/src/logo.png')}}" class="img-responsive" >
            </div>
        </div>

        <div class="col-md-10" >
         <!--   <div class="row">-->
             <!--  <div class="page-header">-->
                    <h1 class="text-primary center-block">Стандарт ProFit <small>(черновик)</small></h1>
               <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-default navbar-inverse " role="navigation" style="margin-bottom:0px;">
   <!--- <div class="container">-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">T4 Site</a>
        </div>

        <div class="navbar-collapse collapse">
            {% if app.user %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Администратор <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="/admin">Админ-панель</a></li>
                        <li><a href="/maps/admin">Карты</a></li>
                    </ul>
                </li>
              </ul>
            {% endif %}
          <!--  <t4:block path="///Menu"/>-->
            {% if not app.user %}
            <ul class="nav navbar-nav " >
                <form class="navbar-form navbar-right" role="form" action="/login.html" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
                {% else %}
                <a href="/logout.html"><button type="button" class="btn btn-default navbar-btn navbar-right">Sign out</button></a>
                <p class="navbar-text navbar-right" style="padding-right: 10px;">Hello, {{app.user.email}}!</p>
                {% endif %}
            </ul>

        </div><!--/.navbar-collapse -->
   </div>
</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="margin-bottom: 0px;">
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-12" style="height:50px; background:dimgray;">
        <footer><p>&copy; T4 Development 2014</p></footer>
    </div>
</div>

</div>

</body>
</html>