{% extends 'Admin/Blank.html' %}


{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/users/">Пользователи</a></li>
</ol>
{% endblock %}

{% block header %}
   Пользователи
{% endblock %}

{% block toolbar %}

{% endblock %}



{% block content %}
<div class="table-responsive ">
    <table class="table table-striped table-hover table  ">
        <tr class="info">
            <th>E-MAIL пользователя</th>
            <th></th>
            <th>Действия</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.email}}</td>
            <td><a class="btn btn-primary" href="/admin/users/ChangePassword?id={{item.Pk}}">Сменить пароль</a></td>
            <td><a class="btn btn-primary" href="/admin/users/RoleUser?id={{item.Pk}}">Роли пользователя</a></td>
            {% if item.email!="admin@t4.org" %}
            <td><a class="btn btn-danger" href="/admin/users/DeleteUser?id={{item.Pk}}">Удалить пользователя</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}


