<!-- multiple lang dropdown : find all flags in the image folder -->
<ul class="header-dropdown-list hidden-xs">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img alt="" src="{{ asset('/Layouts/Admin/Smart/assets/img/flags/us.png') }}"> <span> US </span> <i class="fa fa-angle-down"></i> </a>
        <ul class="dropdown-menu pull-right">
            <li class="active">
                <a href="javascript:void(0);"><img alt="" src="{{ asset('/Layouts/Admin/Smart/assets/img/flags/us.png') }}"> US</a>
            </li>
            <li>
                <a href="javascript:void(0);"><img alt="" src="{{ asset('/Layouts/Admin/Smart/assets/img/flags/es.png') }}"> Spanish</a>
            </li>
            <li>
                <a href="javascript:void(0);"><img alt="" src="{{ asset('/Layouts/Admin/Smart/assets/img/flags/de.png') }}"> German</a>
            </li>
        </ul>
    </li>
</ul>
<!-- end multiple lang -->