<div class="col-xs-12 col-sm-6 col-md-4 block-installed" data-id="{{block.Pk}}">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{block.title}}
                <button type="button" class="close pull-right block-uninstall" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            </h4>
        </div>
        <div class="panel-body">
            <div>{% include '__block_installed_options.html' %}</div>
        </div>
    </div>
</div>