<p>{{block.desc}}</p>
<form class="form-horizontal" role="form">
    {% for name, value in block.allOptions %}
    <div class="form-group">
        <label class="col-sm-4 control-label">{{blocksAvailable[block.path].options[name].title}}</label>
        <div class="col-sm-8">
            {{ blockOptionInput(name, blocksAvailable[block.path].options[name], value, {'class':'form-control'}) }}
        </div>
    </div>
    {% endfor %}
    {% if block.allTemplates %}
    <div class="form-group">
        <label class="col-sm-4 control-label">Шаблон блока</label>
        <div class="col-sm-8">
            <select name="template" class="form-control">
                <option value="">---</option>
                {% for template in block.allTemplates %}
                <option value="{{template}}"{% if template==block.template %} selected="selected"{% endif %}>{{template}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    <footer class="col-sm-offset-4 col-sm-8">
        <input type="submit" value="Сохранить" class="btn btn-success"{% if not block.getAllOptions %}{% if not block.allTemplates %} disabled{% endif %}{% endif %}>
    </footer>
</form>