{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li>Блоки</li>
</ol>
{% endblock %}

{% block header %}
Блоки
{% endblock %}

{% block content %}

<style>
    .panel-heading {cursor: move;}
</style>

<h2>Размещенные на сайте</h2>

<div class="row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for id, section in sections %}
        <div class="panel panel-default" id="section-{{id}}" data-id="{{id}}">
            <div class="panel-heading" role="tab" id="heading-{{id}}">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{id}}" aria-expanded="{% if id==1 %}true{% else %}false{% endif %}" aria-controls="collapse-{{id}}">
                        #{{id}}: {{section.title}}
                    </a>
                </h4>
            </div>
            <div id="collapse-{{id}}" class="panel-collapse collapse {% if id==1 %}in{% endif %}" role="tabpanel" aria-labelledby="heading-{{id}}">
                <div class="panel-body">
                    <div style="min-height:200px;" class="row block-drop-area">

                        {% for block in blocksInstalled[id] %}
                        {% include '__block_installed.html' %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<h2>Доступные к размещению</h2>

<div class="row">
    {% for path, block in blocksAvailable %}
    {% include '__block_available.html' %}
    {% endfor %}
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {

        uninstallBlock = function (button, event) {
            event.preventDefault();
            var block = button.parents(".block-installed");
            var blockId = block.attr('data-id');
            $.get('/admin/blocks/uninstallBlock.json', {
                id: blockId
            }, function (data) {
                if (data.result) {
                    block.remove();
                }
            });
        };
        $(".block-uninstall").click(function (event) {
            uninstallBlock($(this), event);
        });

        saveBlockOptions = function (button, event) {
            event.preventDefault();
            button.removeClass('btn-success');
            button.addClass('btn-warning');
            var blockId = button.parents(".block-installed").attr('data-id');
            var data = button.parents("form").serializeArray();
            $.get('/admin/blocks/updateBlockOptions.json', {
                id: blockId,
                options: data
            }, function (data) {
                button.removeClass('btn-warning');
                button.addClass('btn-success');
            });
            return false;
        };
        $("#accordion form input[type='submit']").click(function (event) {
            saveBlockOptions($(this), event);
        });

        $(".block-available-draggable").draggable({handle: ".panel-heading", cursor: "move", revert: true});
        $(".block-drop-area").droppable({
            accept: '.block-available-draggable',
            drop: function (event, ui) {
                var sectionId = $(this).parents('.panel').attr('data-id');
                var block = ui.draggable;
                var blockPath = block.attr('data-block-path');
                $.get('/admin/blocks/setupBlock.json', {
                    sectionId: sectionId,
                    blockPath: blockPath
                }, function (data) {
                    if (data.result) {
                        var installedBlock = block.clone();

                        installedBlock
                                .removeClass('ui-draggable')
                                .removeClass('ui-draggable-dragging')
                                .removeClass('block-available-draggable');
                        installedBlock.removeAttr('style');
                        installedBlock.addClass('block-installed');

                        installedBlock.removeAttr('data-block-path');
                        installedBlock.attr('data-id', data.id);

                        $('#collapse-'+sectionId+' .panel-body .row').append(installedBlock);

                        installedBlock.find('.panel-body').load('/admin/blocks/getFormForBlock', {"id": data.id}, function() {
                            installedBlock.find('form input[type=submit]').click(function (event) {
                                saveBlockOptions($(this), event);
                            });
                            installedBlock.find('h4.panel-title').append('<button type="button" class="close pull-right block-uninstall" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>');
                            installedBlock.find('.block-uninstall').click(function (event) {
                                uninstallBlock($(this), event);
                            });
                        });

                    };
                });
            }
        });
    });
</script>
{% endblock %}