<form class="form-horizontal" role="form" action="/register.html" method="post">
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Ваш адрес e-mail" value="{{email}}">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Ваш пароль">
        </div>
    </div>
    <div class="form-group">
        <label for="password2" class="col-sm-2 control-label">Повтор пароля</label>
        <div class="col-sm-10">
            <input type="password2" class="form-control" id="password2" name="password2" placeholder="Введите пароль еще раз">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        </div>
    </div>
</form>